/*ALL*/

*
{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: Roboto, sans-serif;
  color: rgba(175,157,97,255);
}

article
{
  position: absolute;
  left: 50%;
  top: 95%;
  transform: translateX(-50%) translateY(-50%);
  background-color: rgb(32, 32, 32);
  height: 100rem;
  width: 90%;
}

#art
{
  margin: 20px 50px;
}

.artcon
{
  height: fit-content;
  width: 100%;
  border: solid rgba(175,157,97,255);
  border-width: 0px 0px 5px;
  margin-bottom: 1rem;
}

.artheader
{
  font-size: 4rem;
  text-decoration: underline;
}

/*Header*/

header
{
  position: relative;
  height: 12.5rem;
  border: solid rgba(175,157,97,255);
  border-width: 0px 0px 5px;
  margin-bottom: 1rem;
}

#header
{
  font-style: italic;
  font-size: 5rem;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translateX(-50%) translateY(-50%);
}

#logo
{
  position: absolute;
  left: 50%;
  top: 73%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
}

/*Articles*/

/*Items*/
.icon
{
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}

.lcon
{
  width: 70%;
}

.rcon
{
  width: 30%;
  text-align: end;
}

.iname, .iprice
{
  font-size: 2rem;
}

.ides
{
  font-size: 1.2rem;
}

/*MediaQuerie*/
@media screen and (max-width: 767px)
{

}

@media screen and (min-width: 768px) and (max-width: 1023px)
{

}
