/*ALL*/

*
{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: Roboto, sans-serif;
  color: rgba(175,157,97,255);
}

article
{
  position: absolute;
  left: 50%;
  top: 110%;
  transform: translateX(-50%) translateY(-50%);
  background-color: rgb(32, 32, 32);
  height: fit-content;
  width: 90%;
}

#art
{
  margin: 20px 15px;
}

.artcon
{
  height: 100%;
  width: 100%;
  border: solid rgba(175,157,97,255);
  border-width: 0px 0px 5px;
  margin-bottom: 1rem;
}

.artheader
{
  width: 100%;
  font-size: 2rem;
  text-decoration: underline;
}

/*Header*/

header
{
  position: relative;
  height: 12.5rem;
  border: solid rgba(175,157,97,255);
  border-width: 0px 0px 5px;
  margin-bottom: 1rem;
}

#header
{
  font-style: italic;
  font-size: 5rem;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translateX(-50%) translateY(-50%);
}

#logo
{
  position: absolute;
  left: 50%;
  top: 73%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
}

/*Articles*/

/*Items*/
.icon
{
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}

.lcon
{
  width: 75%;
}

.rcon
{
  width: 25%;
  text-align: end;
}

.iname, .iprice
{
  font-weight: bold;
  font-size: 1rem;
}

.ides
{
  color: rgba(170,150,90,255);
  font-size: 0.8rem;
}

